{% extends 'base.html' %}
{% block content %}
<div class="row h-100 align-items-center justify-content-center" style="text-align: center;">
    <div class="col-lg-12">
        {% if saved %}
        <p><strong>Your photo was saved.</strong></p>
        <p><a class="btn btn-success" href="{% url 'hoisting:image_by_id' id %}"><i class="fa fa-link"></i> Permanent link to your image (unique URL)</a></p>
        {% endif %}

        {% if not saved %}
        <p><strong>Your photo was not saved.</strong></p>
        {% endif %}
        <p><a class="btn btn-primary" href="/"><i class="fa fa-chevron-left"></i> Go back to the dashboard</a></p>
    </div>
</div>
{% endblock %}
