{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row h-100 align-items-center">
    <div class="col-lg-6">
        <i class="fa fa-camera-retro" style="font-size: 30em"></i>
    </div>

    <div class="col-lg-6">
        <form name="form" enctype="multipart/form-data" action="{% url 'hoisting:upload' %}"
              method="POST">

            {% csrf_token %}

            <div class="custom-file form-group">
                <input type="file" class="custom-file-input" id="photo" name="photo">
                <label class="custom-file-label" for="photo">Choose photo</label>
            </div>
            <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="private"
                       name="private" value="off"/>
                <label class="form-check-label" for="private">Make it private</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" value="Upload"><strong>Upload</strong></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}